#pokeball-secondary {
  animation: rotate 2.5s 2s ease-in-out forwards;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotate(0deg);
  }
  40%,
  60% {
    transform: rotate(180deg);
  }
  90%,
  100% {
    transform: rotate(630deg);
  }
}

table {
  border-collapse: collapse;
  font-size: var(--font1);
}

.table {
  background-color: var(--grey1);
}

.table tbody {
  border: 1px solid var(--grey3);
}

thead {
  border-bottom: 1px solid var(--grey4);
  background-color: var(--grey3);
}

.table tr:nth-child(even) {
  background-color: var(--grey2);
}

th,
td {
  padding: var(--space2);
  text-transform: capitalize;
}

table:not(.table) th:first-child,
table:not(.table) td:first-child {
  padding-left: 0;
}

td.right {
  text-align: right;
}

td.move {
  min-width: 12ch;
  font-size: var(--font2);
}

progress {
  --radius: 1rem;
  --value: var(--primary);
  --bg: var(--grey3);
  --shadow: inset 1px 1px hsla(220, 10%, 40%, 0.5);
  appearance: none;
  -webkit-appearance: none;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  border: 0;
  background-color: var(--bg);
}

progress::-moz-progress-bar {
  box-shadow: var(--shadow);
  border-radius: var(--radius) 0 0 var(--radius);
  background-color: var(--value);
}

progress::-webkit-progress-bar {
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: var(--bg);
}

progress::-webkit-progress-value {
  box-shadow: var(--shadow);
  border-radius: var(--radius) 0 0 var(--radius);
  background-color: var(--value);
}
