:root {
  --space0: 0rem;
  --space1: 0.25rem;
  --space2: 0.5rem;
  --space3: 1rem;
  --space4: 2rem;
  --space5: 4rem;
  --space6: 8rem;
  --space7: 16rem;
  --space8: 32rem;

  --font0: 0.75rem;
  --font1: 0.875rem;
  --font2: 1rem;
  --font3: 1.25rem;
  --font4: 1.5rem;
  --font5: 2rem;
  --font6: 3rem;
  --font7: 4rem;
  --font8: 6rem;

  --primary: hsl(345, 85%, 55%);
  --secondary: hsl(220, 85%, 65%);

  --grey0: hsl(220, 10%, 96%);
  --grey1: hsl(220, 10%, 92%);
  --grey2: hsl(220, 10%, 88%);
  --grey3: hsl(220, 10%, 80%);
  --grey4: hsl(220, 10%, 70%);
  --grey5: hsl(220, 10%, 60%);
  --grey6: hsl(220, 10%, 50%);

  --bug: #a8b820;
  --bug-light: #a8b820;
  --bug-dark: #6d7815;

  --dark: #705848;
  --dark-light: hsl(23, 12%, 60%);
  --dark-dark: #49392f;

  --dragon: #7038f8;
  --dragon-light: hsl(258, 95%, 75%);
  --dragon-dark: #4924a1;

  --electric: #f8d030;
  --electric-light: #fae078;
  --electric-dark: #a1871f;

  --fairy: #ee99ac;
  --fairy-light: #f4bdc9;
  --fairy-dark: #9b6470;

  --fighting: #c03028;
  --fighting-light: hsl(3, 55%, 67%);
  --fighting-dark: #7d1f1a;

  --fire: #f08030;
  --fire-light: #f5ac78;
  --fire-dark: #9c531f;

  --flying: #a890f0;
  --flying-light: #c6b7f5;
  --flying-dark: #6d5e9c;

  --ghost: #705898;
  --ghost-light: #a292bc;
  --ghost-dark: #493963;

  --grass: #78c850;
  --grass-light: #a7db8d;
  --grass-dark: #4e8234;

  --ice: #98d8d8;
  --ice-light: #bce6e6;
  --ice-dark: #638d8d;

  --normal: #a8a878;
  --normal-light: #c6c6a7;
  --normal-dark: #6d6d4e;

  --psychic: #f85888;
  --psychic-light: #fa92b2;
  --psychic-dark: #a13959;

  --rock: #b8a038;
  --rock-light: #d1c17d;
  --rock-dark: #786824;

  --steel: #b8b8d0;
  --steel-light: #d1d1e0;
  --steel-dark: #787887;

  --water: #6890f0;
  --water-light: #9db7f5;
  --water-dark: #445e9c;

  --poison: #a040a0;
  --poison-dark: #682a68;
  --poison-light: #c183c1;

  --ground: #e0c068;
  --ground-dark: #927d44;
  --ground-light: #ebd69d;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial,
    sans-serif;
  color: hsl(220, 10%, 20%);
  background-color: var(--grey0);
}

input {
  display: block;
  color: inherit;
  font: inherit;
  border: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input::placeholder {
  font-style: italic;
  color: var(--grey6);
}

label {
  font-weight: 700;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: monaco, consolas, monospace;
  text-transform: capitalize;
}

main {
  margin: 0 auto;
  padding: 0 1.5rem;
  padding: 0 max(1.5rem, 5vw);
}

.site-header {
  padding: 1rem;
}

#pokeball-secondary {
  animation: rotate 2.5s 2s ease-in-out forwards;
  transform-origin: 50% 50%;
}

@keyframes rotate {
  0%,
  10% {
    transform: rotate(0deg);
  }
  40%,
  60% {
    transform: rotate(180deg);
  }
  90%,
  100% {
    transform: rotate(630deg);
  }
}

.vh {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
}

.box {
  --space: var(--space3);
  --bg: inherit;
  --fg: inherit;
  color: var(--fg);
  background-color: var(--bg);
  padding: var(--space);
}

.box * {
  color: inherit;
}

[class^="row"] {
  display: flex;
  align-items: center;
}

.row > * + * {
  margin-left: var(--space3);
}

.row2 > * + * {
  margin-left: var(--space2);
}

.row4 > * + * {
  margin-left: var(--space4);
}

[class^="stack"] > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space3);
}

.stack2 > * + * {
  margin-top: var(--space2);
}

.stack4 > * + * {
  margin-top: var(--space4);
}

.stack5 > * + * {
  margin-top: var(--space5);
}

.cluster {
  --gap: var(--space3);
  overflow: hidden;
}

.cluster > * {
  margin: calc(var(--gap) / 2 * -1);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.cluster > * > * {
  margin: calc(var(--gap) / 2);
}

.grid {
  --gap: var(--space3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
}

@media (min-width: 40em) {
  .grid {
    --min-width: 14rem;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
    --gap: var(--space4);
  }
}

.frame {
  --n: 1; /* width */
  --d: 1; /* height */
  padding-bottom: calc(var(--n) / var(--d) * 100%);
  position: relative;
}

.frame > * {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame > img,
.frame > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: var(--font6);
}

.search {
  border: 2px solid var(--grey3);
  border-radius: 0.125rem;
  display: grid;
  grid-template-columns: 1fr auto auto;
  background-color: #fff;
}

.search:focus-within {
  outline: 0;
  border-color: var(--secondary);
}

.search > input {
  padding: 0.5rem;
}

.search > button {
  border: 0;
  background: none;
  padding: var(--space2);
}

.search > input:focus,
.search > button:focus {
  outline: 0;
}

[class^="pill"] {
  --size: var(--font1);
  border-radius: 1rem;
  padding: 0.5em 1em;
  font-size: var(--size);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: var(--bg, var(--grey2));
}

.poke-link {
  position: relative;
  border-radius: 0.125rem;
}

.poke-link:focus-within {
  outline: 0.5rem solid var(--secondary);
  outline-offset: var(--space2);
}

.poke-link a {
  font-size: var(--font4);
  color: inherit;
  text-decoration: none;
}

.poke-link a:hover,
.poke-link a:focus {
  outline: 0;
  text-decoration: underline;
}

.poke-link a::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.scroll {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
  font-size: var(--font2);
  background-color: var(--grey1);
}

thead {
  border-bottom: 1px solid var(--grey4);
  background-color: var(--grey3);
}

tbody {
  border: 1px solid var(--grey3);
}

tr:nth-child(even) {
  background-color: var(--grey2);
}

th,
td {
  padding: var(--space2);
  text-transform: capitalize;
}

td.right {
  text-align: right;
}

td.move {
  min-width: 12ch;
  font-size: var(--font3);
}
